src/test/resources/AttributeGroupTest.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="https://lmcalpin.com/testAttributes" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://lmcalpin.com/testAttributes"
	xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="https://lmcalpin.com/testAttributes"
			version="2.0c" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
			xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="https://lmcalpin.com/testAttributes"
			xmlns:xlink="http://www.w3.org/1999/xlink">

			<xs:attributeGroup name="SeverityGroup">
				<xs:attribute name="severity" type="xs:string"
					use="required" />
				<xs:attribute name="businessImpact" type="xs:string" />
			</xs:attributeGroup>
			<xs:complexType name="BaseFault">
				<xs:sequence>
					<xs:element name="messageId" type="xs:string" minOccurs="0" />
					<xs:element name="rootCause" type="xs:string" />
				</xs:sequence>
				<xs:attribute name="code" type="xs:int" />
				<xs:attributeGroup ref="tns:SeverityGroup" />
			</xs:complexType>
			<xs:element name="Test" type="tns:BaseFault" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Test">
		<wsdl:part element="tns:Test" name="body" />
	</wsdl:message>
	<wsdl:portType name="SessionCreatePortType">
		<wsdl:operation name="Test">
			<wsdl:input message="tns:Test" />
			<wsdl:output message="tns:Test" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SessionCreateSoapBinding" type="tns:SessionCreatePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Test">
			<soap:operation soapAction="OTA" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SessionCreateService">
		<wsdl:port binding="tns:SessionCreateSoapBinding" name="SessionCreatePortType">
			<soap:address location="https://lmcalpin.com/testAttributes" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>