src/test/resources/DuplicateElementNameTest.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="https://lmcalpin.com/testDupes" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://lmcalpin.com/testDupes"
	xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="https://lmcalpin.com/testDupes"
			version="2.0c" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
			xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="https://lmcalpin.com/testDupes"
			xmlns:xlink="http://www.w3.org/1999/xlink">

			<xs:complexType name="TestType1">
				<xs:choice>
					<xs:element name="bodyOut" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="test1" type="xs:string" />
								<xs:element name="test2" type="xs:string"
									minOccurs="0" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="testa" type="xs:string"
						minOccurs="0" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="TestType2">
				<xs:choice>
					<xs:element name="bodyOut" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="test3" type="xs:string" />
								<xs:element name="test4" type="xs:string"
									minOccurs="0" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="testa" type="xs:string"
						minOccurs="0" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="TheBody">
				<xs:sequence>
					<xs:element name="test1" type="tns:TestType1" />
					<xs:element name="test2" type="tns:TestType2" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="body" type="tns:TheBody" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Test">
		<wsdl:part element="tns:body" name="body" />
	</wsdl:message>
	<wsdl:portType name="SessionCreatePortType">
		<wsdl:operation name="Test">
			<wsdl:input message="tns:Test" />
			<wsdl:output message="tns:Test" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SessionCreateSoapBinding" type="tns:SessionCreatePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Test">
			<soap:operation soapAction="OTA" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SessionCreateService">
		<wsdl:port binding="tns:SessionCreateSoapBinding" name="SessionCreatePortType">
			<soap:address location="https://lmcalpin.com/testDupes" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>